<!DOCTYPE html>
 
  <html class="no-js"> 
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Some Website</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
  </head>
  <body>
    {{> header}}
    <p>Some text here</p>
    
    {{!-- moved the footer to a partial; following will import to this file. the > with space sign indicates injecting a template. --}}
    {{> footer}}
    
  </body>
</html>